#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#ticTacToe{
    width: 25%;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5px;
}

.btn:disabled{
    background-color: darkgray;
    color: black;
}
.btn {
    background-color: darkgray;
    width: 100%;
    height: 100%;
    border: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.border-bottom {
    border-bottom: 3px solid black;
}

.border-right {
    border-right: 3px solid black;
}

.winner:disabled {
    background-color: green;
}
.winnerDiv {
    background-color: green;
}
#restart {
    background: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#player1-input ,#player2-input{
    background: none;
    padding: 5px;
    border-radius: 5px;
}